.home {
    height: 100vh;
    width: 100vw;
    background: #ffd89b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #19547b, #ffd89b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #19547b, #ffd89b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;

    .bl-header {
        background-image: url("../img/lf-logo.svg");
        background-repeat: no-repeat;
        background-position: center;

        height: 55vh;
        width: auto;

        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }
}
